.hero-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: transparent;
    z-index: 25;
    pointer-events: none;
}

.hero-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    z-index: 2;
    pointer-events: none;
    mix-blend-mode: overlay;
    background-repeat: repeat;
}

.blobs-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.blob {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45vw;
    height: 25vw;
    border-radius: 50%;
    opacity: 0;
    will-change: transform, opacity;
    filter: blur(60px);
    mix-blend-mode: screen;
}

.blob-turquoise {
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgb(200, 200, 255) 40%, rgba(255, 255, 255, 0) 70%);
}

.blob-green {
    background: radial-gradient(circle, rgba(0, 240, 255, 1) 0%, rgba(0, 240, 255, 0.4) 40%, rgba(0, 240, 255, 0) 70%);
}

.z-10 {
    z-index: 10;
}

.z-0 {
    z-index: 0;
}

.opacity-80 {
    opacity: 0.8;
}

@media screen and (max-width: 768px) {
    .blob {
        width: 30vw;
        height: 18vw;
        filter: blur(30px);
    }
}