.navbar-container {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: transparent;
}

.logo {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
}

.nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: none;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.nav-link:hover {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .navbar-container {
        padding: 0 10vw;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .navbar-container {
        padding: 0 2vw;
        justify-content: flex-start;
        gap: 5vw;
    }

    .nav-links {
        margin-left: auto;
        margin-right: 20vw;
    }

    .nav-link {
        font-size: 1.5rem;
    }
}