.intro-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.content-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.main-text-container {
    overflow: hidden;

}

.main-text {
    font-size: 10rem;
    font-weight: 700;
    color: #fff;
    line-height: 1;
    display: flex;

}

.sub-text-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.sub-text-line {
    overflow: hidden;

    height: 1.5rem;

}

.sub-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    line-height: 1;
    display: flex;

    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
        gap: 2vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        padding-right: 50vw;
        text-align: center;
    }

    .main-text-container {
        width: 100%;
        display: block;
        text-align: center;
    }

    .main-text {
        font-size: 13vw;
        width: 100%;
        display: block;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .sub-text-column {
        width: 100%;
        display: block;
        text-align: center;
        margin-top: 10px;
    }

    .sub-text-line {
        width: 100%;
        display: block;
        text-align: center;
    }

    .sub-text {
        font-size: 5vw;
        display: inline-block;
        width: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .content-wrapper {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: 20px;
        transform: translateX(-25vw);
        width: auto;
    }

    .main-text {
        font-size: 8rem;
        justify-content: flex-start;
        width: auto;
    }

    .sub-text-column {
        align-items: flex-start;
        width: auto;
    }

    .sub-text {
        font-size: 1.2rem;
        display: flex;
        width: auto;
    }
}