.custom-cursor {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (hover: none) and (pointer: coarse) {
    .custom-cursor {
        display: none !important;
    }
}

.cursor-text-content {
    color: #000 !important;
    /* Force black text */
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
    opacity: 1;
    /* Ensure opacity */
    pointer-events: none;
}