:root {
    font-family: 'Rajdhani', sans-serif;
    line-height: 1.5;
    font-weight: 500;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #050505;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: 'Syne', sans-serif;
    width: 100%;
}

html {
    width: 100%;
}

#root {
    width: 100%;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

@media (hover: hover) and (pointer: fine) {

    html,
    body,
    button,
    a,
    input,
    textarea,
    .clickable,
    .nav-link {
        cursor: none !important;
    }
}

button:hover {
    border-color: #646cff;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}


:root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #000000;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    display: none;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}