.work-section {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 0;
    background-color: #000;
    color: #fff;
    z-index: 10;
    overflow: hidden;
}

.work-split-container {
    position: relative;
    z-index: 2;
    display: flex;
    width: 100%;
    height: auto;
    min-height: 0;
    padding-top: 150px;
    padding-bottom: 150px;
    box-sizing: border-box;
}

.work-left,
.work-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.work-title {
    font-size: 3rem;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 0;
    width: 100%;
    text-align: center;
}

.project-list {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.work-separator {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0;
}

.project-item {
    font-size: 2rem;
    font-weight: 500;
    padding: 2rem 0;
    cursor: none;
    transition: color 0.3s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
}

.project-item .project-name {
    padding-left: 2rem;
    padding-right: 2rem;
}

.project-item:hover .project-name {
    color: #fff;
    padding-left: 3rem;
    transition: padding-left 0.3s ease;
}

.project-video-container {
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    margin-top: 0;
    background-color: #000;
}

.project-video-container.active {
    height: 500px;
    width: 100%;
    margin: 2rem 0 0 0;
    border: 1px solid #fff;
    box-sizing: border-box;
}

.project-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
    display: block;
}

@media screen and (max-width: 768px) {
    .work-split-container {
        flex-direction: column-reverse;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .work-title {
        font-size: 2rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .project-item {
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }

    .project-item .project-name {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .project-video-container.active {
        height: 250px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .work-split-container {
        flex-direction: column-reverse;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .work-title {
        font-size: 2.5rem;
    }

    .project-item {
        font-size: 1.8rem;
    }

    .project-video-container.active {
        height: 400px;
        width: 100%;
        max-width: 100%;
    }
}